body {
  margin: 0;
  padding: 0;
}

#board {
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  position: relative;
}

#letters {
  height: 50vh;
}

#word {
  width: 50vw;
  display: flex;
  gap: 10px;
}

#hangman {
  width: 150px;
  height: 150px;

  height: 50vh;
  position: relative;
  margin: 50px;
  padding-right: 50px;
}

#playing-area {
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

#gameover-message {
  color: white;
  font-size: large;
}
